html,
body {
  height: 100%;
}

#page-content {
  flex: 1 0 auto;
}

#sticky-footer {
  flex-shrink: none;
}

/* Other Classes for Page Styling */

body {
  background: rgb(245, 248, 246);
  background: -moz-linear-gradient(left, rgb(245, 248, 246) 0%, rgba(245, 248, 246) 42%, rgba(245, 248, 246) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(245, 248, 246)), color-stop(42%, rgba(245, 248, 246)), color-stop(100%, rgba(245, 248, 246)));
  background: -webkit-linear-gradient(left, rgba(245, 248, 246) 0%, rgba(245, 248, 246) 42%, rgba(245, 248, 246) 100%);
  background: -o-linear-gradient(left, rgb(245, 248, 246) 0%, rgba(245, 248, 246) 42%, rgba(245, 248, 246) 100%);
  background: -ms-linear-gradient(left, rgb(245, 248, 246) 0%, rgba(245, 248, 246) 42%, rgba(245, 248, 246) 100%);
  background: linear-gradient(to right, rgba(245, 248, 246) 0%, rgba(245, 248, 246) 42%, rgba(245, 248, 246) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#59ab73', endColorstr='#7421b0', GradientType=1 );
}